<div class="container h-100">

    <!-- Outer Row -->
    <div class="row justify-content-center align-items-center h-100">

        <div class="col-xl-10 col-lg-12 col-md-9">

            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                        <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                        <div class="col-lg-6">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4">Welcome back to Login!</h1>
                                </div>
                                <div class="text-center">
                                    <p id="notice"><%= notice %></p>
                                </div>
                                <form class="user" action="/sessions" method="POST">
                                    <div class="form-group">
                                        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                                    </div>
                                    <div class="form-group">
                                        <input type="email" class="form-control form-control-user"
                                            id="exampleInputEmail" aria-describedby="emailHelp"
                                            placeholder="Enter Email Address..." name="user[email]" value="<%= @user.email %>">
                                    </div>
                                    <div class="form-group">
                                        <input type="password" class="form-control form-control-user"
                                            id="exampleInputPassword" placeholder="Password" name="user[password]">
                                    </div>
                                    <!--<a href="index.html" class="btn btn-primary btn-user btn-block">
                                        Login
                                    </a>-->
                                    <div class="form-group">
                                        <input type="submit" class="btn btn-primary btn-user btn-block"
                                            name="submit" value="Login" > 
                                    </div>
                                </form>
                                <hr>
                                <!--<div class="text-center">
                                    <a class="small" href="forgot-password.html">Forgot Password?</a>
                                </div>-->
                                <div class="text-center">
                                    <a class="small" href="/register">Create an Account!</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>