<!-- Page Wrapper -->
<div id="wrapper">
  <!-- Sidebar -->
  <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
      <div class="sidebar-brand-icon rotate-n-15">
        <i class="fas fa-file"></i>
      </div>
      <div class="sidebar-brand-text mx-3">TAPedit</div>
    </a>

   

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Heading 
    <div class="sidebar-heading">
      Home
    </div> -->

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
      <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
        aria-expanded="true" aria-controls="collapseTwo">
        <i class="fas fa-fw fa-home"></i>
        <span>Home</span>
      </a>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
          <h6 class="collapse-header">Components:</h6>
          <a class="collapse-item" href="/about">About</a>
          <a class="collapse-item" href="/feature">Features</a>
        </div>
      </div>
    </li>

     <!-- Divider -->
    <hr class="sidebar-divider ">

    <!-- Nav Item - Dashboard tachometer-alt-->
    <li class="nav-item active">
      <a class="nav-link" href="index.html">
        <i class="fas fa-fw fa-folder-open"></i>
        <span>Upload TAP file</span>
      </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <div class="text-center d-none d-md-inline">
      <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

  </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

    <!-- Main Content -->
    <div id="content">

    <!-- Topbar -->
    <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

      <!-- Sidebar Toggle (Topbar) -->
      <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
        <i class="fa fa-bars"></i>
      </button>
      
      <!-- Topbar Navbar -->
      <ul class="navbar-nav ml-auto">
        <div class="topbar-divider d-none d-sm-block"></div>

          <!-- Nav Item - User Information -->
        <li class="nav-item dropdown no-arrow">
            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="mr-2 d-none d-lg-inline text-gray-600 small">Deconnexion</span>
              <%= image_tag 'logout.jpg', class: "img-profile rounded-circle" %>
            </a>
          <!-- Dropdown - User Information -->
          <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
            <!--<a class="dropdown-item" href="#">
              <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
              Profile
            </a>
            <a class="dropdown-item" href="#">
              <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
              Settings
            </a>
            <a class="dropdown-item" href="#">
              <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
              Activity Log
            </a>
          <div class="dropdown-divider"></div>-->
            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
              <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
              Logout
            </a>
          </div>
        </li>
      </ul>
    </nav>
  <!-- End of Topbar -->
</div>

  <!-- Begin Page Content -->
<div class="container-fluid">

  <!-- Page Heading 
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Welcome to TAPEDIT file !</h1>
  </div> -->

<main>
    <div class="container py-4">
        <header class="pb-3 mb-4 border-bottom">
        <h1 class="d-flex align-items-center text-dark text-decoration-none">
            <span class="fs-4">What are the characteristic of TAPEDIT ?</span>
        </h1>
        </header>
        <br>
        <!--<div class="p-5 mb-2 bg-light rounded-3">
        <div class="container-fluid py-5">
            <h3 class="display-5 fw-bold">What are the characteristic of TAPEDIT ?</h3>
        </div>
        </div>-->

        <!--<div class="row align-items-md-stretch">
            <div class="col-md-6">
                <div class="h-100 p-5 text-white bg-dark rounded-3">
                <h2>ASN.1 decoding :</h2>
                <p>TapEdit can decode ASN.1 data structures, making it easier to understand the information encoded in TAP files.</p>
                
                </div>
            </div>
            <div class="col-md-6">
                <div class="h-100 p-5 text-white bg-dark rounded-3">
                <h2>Collection of usage data :</h2>
                <p>TapEdit has the ability to connect to telecommunications systems and databases to retrieve subscriber usage data, including past calls, text messages sent, data consumed, etc.</p>
                
                </div>
            </div>
        </div>

        <div class="row align-items-md-stretch">
            <div class="col-md-6">
                <div class="h-100 p-5 text-white bg-dark rounded-3">
                <h2>File Viewing :</h2>
                <p>TapEdit allows users to open and view ASN.1 files, specifically supporting TAP files. Users can browse through the contents of the file in a structured manner.</p>
                
                </div>
            </div>
            <div class="col-md-6">
                <div class="h-100 p-5 text-white bg-dark rounded-3">
                <h2>Invoice Generation :</h2>
                <p>Once all calculations have been completed, TapEdit generates the subscriber’s final invoice. The invoice is presented as a PDF document suitable for printing or sending electronically.</p>
                
                </div>
            </div>
        </div>-->

        <!-- Begin Page Content -->
                <div class="container-fluid">

                    <div class="row">

                        <div class="col-lg-6">

                            <!-- Circle Buttons -->
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Collection of usage data</h6>
                                </div>
                                <div class="card-body">
                                    <p>TapEdit has the ability to connect to telecommunications systems and databases to retrieve subscriber usage data, including past calls, text messages sent, data consumed, etc.</p>
                                </div>
                                <br>  
                            </div>

                            <!-- Brand Buttons -->
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Invoice Generation</h6>
                                </div>
                                <div class="card-body">
                                    <p>Once all calculations have been completed, TapEdit generates the subscriber’s final invoice. The invoice is presented as a PDF document suitable for printing or sending electronically.</p>
                                </div>
                            </div>

                        </div>

                        <div class="col-lg-6">

                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Decode and view</h6>
                                </div>
                                <div class="card-body">
                                    <div class="mb-2">
                                        <code># ASN.1 decoding</code>
                                    </div>
                                    <p>TapEdit can decode ASN.1 data structures, making it easier to understand the information encoded in TAP files.
                                    </p>
                                    <div class="mb-3">
                                        <code># File Viewing</code>
                                    </div>
                                    <p>TapEdit allows users to open and view ASN.1 files, specifically supporting TAP files. Users can browse through the contents of the file in a structured manner.</p>
                                    <br>
                                    <a href="/index" class="btn btn-info btn-icon-split">
                                        <span class="icon text-white-50">
                                            <i class="fas fa-info-circle"></i>
                                        </span>
                                        <span class="text">Upload TAP file</span>
                                    </a>
                                    <div class="my-2"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.container-fluid -->

    </div>
</main>
                  
  <!-- End of Main Content -->
</div>

<!-- Footer -->
<footer class="sticky-footer bg-white">
  <div class="container my-auto">
    <div class="copyright text-center my-auto">
      <span>Copyright &copy; 2023</span>
    </div>
  </div>
</footer>
<!-- End of Footer -->


<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
  <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            <a class="btn btn-primary" href="login.html">Logout</a>
        </div>
      </div>
    </div>
  </div>
</div>
